# ========================================
# Xcode
# ========================================

# Build products
build/
DerivedData/

# Project data
*.xcodeproj/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# ========================================
# Playgrounds
# ========================================

*.playground/Contents.swift
*.playground/timeline.xctimeline
timeline.xctimeline
playground.xcworkspace

# ========================================
# Swift Package Manager
# ========================================

.build/
Package.resolved
# Packages/
# Package.pins
# *.xcodeproj
# .swiftpm

# ========================================
# CocoaPods
# ========================================

Pods/
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself: https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control

# ========================================
# Carthage
# ========================================

Carthage/Build/
# Carthage/Checkouts

# ========================================
# Fastlane
# ========================================

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/screenshots/**/*.png
fastlane/test_output

# ========================================
# Miscellaneous
# ========================================

.DS_Store
*.swp
*~.nib
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.moved-aside
*.orig

# ========================================
# IDEs and local settings
# ========================================

.project
.idea/
.vscode/